name: Cleanup Docker Images

on:
  workflow_call:
    inputs:
      image-name:
        type: string
        required: true
        description: 'Image name to clean up (without registry prefix)'
      keep-recent:
        type: number
        default: 3
        description: 'Number of recent images to keep'
      cut-off:
        type: string
        default: '2w'
        description: 'Delete images older than this (humantime format, e.g. 2w, 30d)'
      runner:
        type: string
        default: 'github-arc-github-arc-runner-set'
        description: 'Runner label (e.g. "github-arc-github-arc-runner-set" or "ubuntu-latest")'
      container-image:
        type: string
        default: 'ubuntu:22.04'
        description: 'Container image for job pods (required for ARC Kubernetes mode)'

jobs:
  cleanup:
    runs-on: ${{ inputs.runner }}
    container:
      image: ${{ inputs.container-image }}
    permissions:
      packages: write
    steps:
      - name: Delete old container images
        uses: snok/container-retention-policy@v3.0.1
        with:
          account: ${{ github.repository_owner }}
          token: ${{ secrets.GITHUB_TOKEN }}
          image-names: ${{ inputs.image-name }}
          cut-off: ${{ inputs.cut-off }}
          keep-n-most-recent: ${{ inputs.keep-recent }}
          tag-selection: both
